:root { 
    --main-background-login: white;
    --color-links: rgb(5,148,245);
}

* {
    padding: 0;
    margin: 0;
    font-size:14px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif; 
}

body {
    width: 100%;
    min-height: 100vh;
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
}

.instagramcorpo {
    display:flex;
    align-items: center;
    justify-content: center;
    width:60%;
    height: 100vh;    
}


.insatagramcelularart{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;  
}
.container0 img{
  width: 100%;  
}

.container1 .grupo .instagramlogin .fotodeperfil {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

}
.container1 .grupo .instagramlogin .fotodeperfil img {
    height: 8.5rem;
    border-radius: 50%;
    margin-right: 1.4cm;
    
}

.container1{
    justify-content: space-around;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    min-height: 33rem;
    width: 30%;
    
}

.grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-background-login);
    width: 100%;
    padding:1.3rem;
    border: 1px, solid lightgrey;  
    height: 25rem;
    
}
.grupo{
    border: 1px solid lightgray;    
    min-height: 19rem;
}
  .instagramlogin img {
    height: 3.5rem;
    align-items: center;
    display: flex;
    align-items: center;
    margin-left:12px
  }

.grupo-naoevc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-background-login);
    width: 100%;
    padding:1.3rem;  
    margin-top: 15px;
    
}
.grupo-naoevc {
border: 1px solid lightgrey;
}

  
.container1 .grupo .instagramlogin img{
    align-items: center;
    margin-left:1.0cm;
}

.login{
    background-color: #0095f6;
    color:white;
    padding: 8px;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.fotodeperfil img {
    border-radius: 100%;
}
.removerconta{color:blue;

}
.linkazul1 { color:blue}
.linkazul2 {color:blue}

.getheapp{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
padding:1.3rem 0;
}